<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <p>List</p>
</head>
<body>
    <form action="checkout" method="POST">
    <label for="Item">Type in item to purchase:</label>
    <input type="text" name="item" id="item">
    <input type="submit" id="submit">
    </form>
</body>
</html>